
@{
    Layout = null;
}

<meta charset="UTF-8">
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/street.css" rel="stylesheet" />
</head>
<body>
    <div id="cabecalho">
        <a href="http://localhost:49770/StreetFighter/Index">Início</a>
        <a href="http://localhost:49770/StreetFighter/Cadastro">Cadastro</a>        
        <a href="http://localhost:49770/StreetFighter/ListaDePersonagens">Lista-Personagens</a>
        <a href="http://localhost:49770/StreetFighter/Sobre">Sobre</a>
    </div>        
    @RenderBody()
</body>
</html>