a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

body {
    background-repeat: no-repeat;
    background-image: url('Imagens/maxresdefault.jpg');
}
#cabecalho{
    text-align: center;
    word-spacing: 60px; 
    width: 700px;
    margin-left: 300px;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-top: 15px; padding-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(200,200,200,1);
}

div {
    width: 900px;
    margin-left: 200px;
    padding-top: 3px; padding-bottom: 3px; padding-left: 15px;
    border-radius: 10px;
}

#titulo{
    background-color: rgb(60,60,60);
    color: silver;    
}

.corpo{
    background-color: silver;
}

#sobre {
    background-repeat: no-repeat;
    background-image: url('Imagens/wander.jpg');
}
#blanka {
    background-repeat: no-repeat;
    background-image: url('Imagens/blanka.png');    
}

p.ficha-tecnica{
    padding-left: 280px;
}
