@model List<StreetFighter.Dominio.Personagem>
@{
    ViewBag.Title = "ListaDePersonagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="titulo">
    <h1>
        Lista de Personagens
    </h1>
</div>
<div class="corpo">
    @{
        foreach (var personagem in Model)
        {
            <div class="personagem">                
                @Html.ActionLink(personagem.Nome, "FichaTecnica", "StreetFighter", new { idPersonagem = personagem.Id }, null)
            </div>
        }
    }
</div>
